// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('./froala.css');

body, html {
    margin: 0;
    height: 100%;
}

.vw-5 {
  font-size: 5vw;
}
.vw-1 {
  font-size: 16px;
}
@media (min-width: 640px) {
  .vw-1{
    font-size: 1vw
    // font-size: calc(16px + ((1vw - 6.4px)*3.571));
  }
  // .vw-5{
  //   font-size: 5vw
  //   // font-size: calc(16px + ((1vw - 6.4px)*3.571));
  // }
}
@media (min-width: 1200px) {
  .vw-5{
    font-size: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: inherit;
}

.prof-img {
  position: relative;
}

.prof-text {
  position: absolute;
  top: 120;
  left: 0;
  right: 0;
  margin: auto;
}