// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('./froala.css');

body, html {
    margin: 0;
    height: 100%;
  }
body {
  background: #DEDEDE;
}
.vw-3 {
  font-size: 3.5vw;
}

